
header {
    width: 100%;
    display: block;
    height: var(--hmenu);
    background: var(--bgazul);
    box-shadow: 0px 3px 8px 0px rgba(23, 24, 32, 0.1);
    font-weight: 600;
    z-index: 999;
    position: fixed;
}

.logo a {
    text-decoration: none;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    margin-left: 1rem;
}

.logo img {
    width: auto;
    max-height: 72px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--hmenu);
    z-index: 999;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    margin: 0;
    z-index: 999;
}

.nav-links a,
.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-size: .94rem;
    height: var(--hmenu);
    padding: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-links a:hover, .is-active {
    background-color: rgba(240, 248, 255, 0.10);
    cursor: pointer;
}

.dropdown:hover {
    background-color: rgba(240, 248, 255, 0.10);
}

#check01 {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 78px;
    width: 100vh;
    border-radius: 0 !important;
    border: none !important;
    background-color: var(--bgazul);
}

.dropdown label {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: auto !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.dropdown label span {
    font-size: .94rem;
}

.dropdown-menu a {
    width: 100%;
    height: 50px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.mobile {
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    margin-bottom: 0;
}

.mobile div {
    width: 35px;
    height: 2px;
    margin: 3px;
    background-color: white;
    transition: 0.4s;
    cursor: pointer;
    display: none;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
@media screen and (max-width:360px) {
    .logo a{
        display: none;
    }
}
@media screen and (max-width:992px) {

    .nav-links {
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--textcolor);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        flex-direction: column;
        justify-content: start;
    }

    #check01:checked~.dropdown-menu {
        display: block;
        max-height: 300px;
        transition: max-height 250ms;
    }

    .dropdown {
        padding: 0;
    }

    .dropdown:hover .dropdown-menu {
        display: none;
    }

    .dropdown-menu {
        background: rgb(236, 236, 236);
    }

    .dropdown-menu a {
        color: #313450 !important;
    }

    .mobile div {
        display: block;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 40px;
        z-index: 999999;
    }

    #chk:checked~.nav-links {
        right: 0;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}