.contato{
    min-height: 400px;
    margin-bottom: var(--marginbottom);
}
.formulario{
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    color:var(--textcolor);
    flex: 1 1 50%;
}
.formulario label{
    padding-right: 1rem;
}
 .formulario input,textarea , article input{
    width: 100%;
    margin-bottom: .7rem;
    box-shadow: none;
    -webkit-appearance: none;
    border: 1px solid var(--corborda);
    padding: .5rem 1rem;
    font-weight: 700;
    color: var(--textcolor);
    min-height: 45px;
    border-radius: 4px;
}
input[type=submit]{
    background:var(--bgazul);
    color: white;
    border: none;
}
.formulario > input:last-child{
    margin: 0;
}