.pagination {
    justify-content: center;
    margin-top: 10px;
}

.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}

.pagination a > i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a:hover{
    color: var(--mdc-theme-primary);
}

.active {
    background-color: var(--mdc-theme-primary);
}

.active > a {
    color: white;
    
}

.active > a:hover {
    color: white;
}

#realTimelabel {
    margin: auto;
}

#containerButtons {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#containerButtons h2 {
    flex-grow: 1;
}

@media (max-width: 690px) {
    #containerButtons {
        flex-wrap: wrap;
        align-items: center;
    }

    #containerButtons h2:nth-of-type(1) { /* Título */
        flex-basis: 45%;
        order: 1; 
    }
    #containerButtons div:nth-of-type(1) { /* Radio button real time */
        flex-grow: 1;
        order: 3; 
    }
    #containerButtons div:nth-of-type(2) { /* Input search */
        flex-grow: 1;
        order: 4; 
    }
    #containerButtons div:nth-of-type(3) { /* Botão */ 
        margin: 1rem 0;
        flex-basis: 45%;
        order: 2; 
    }

    #realTimelabel {
        margin-right: 10px;
    }
 
}